<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>
   Čapkove poviedky
  </title>
  <link rel="stylesheet" href="style.css">
 </head>
<body>
<div id="container">
<header>
	<form id="searchform" method="post" action="...">
	<input type="text" name="cohladat">
	<input type="submit" value="Hľadaj">
	</form>
	<h1>Čapkove poviedky</h1>
</header>
<nav>
	<ul>
	<li><a href="uvod.html">Úvod</a></li>
	<li><a href="zivotopis.html">Životopis</a></li>
	<li><a href="poviedky.html">Poviedky</a></li>
	<li><a href="kontakt.html">Kontakt</a></li>
	</ul>
</nav>
<article>
	<h1 class="nadpis">
	O úpadku doby
	</h1>
	<h2 class="autor">
	Karel Čapek
  </h2>
<section id="textpoviedky">
	<p>
	Před jeskyní bylo ticho. Mužové odešli hned zrána, mávajíce oštěpy,
	směrem k <em>Blansku</em> nebo k <strong>Rájci</strong>, kde bylo
	vystopováno stádo sobů; ženy zatím po lese sbíraly bobule klikvy a
	jen časem bylo slyšet jejich ječivý pokřik a repetění; děti se
	nejspíš čabraly dole v potoce - ostatně kdo by se těch harantů
	dohlídal, holoty darebné a zvlčilé. A tož starý pračlověk Janeček
	klímal v tom vzácném tichu na mírném slunci říjnovém; po pravdě
	řečeno chrápal a v nose mu hvízdalo, ale dělal, jako by nespal, nýbrž
	jako by střežil jeskyni kmene a panoval nad ní, jakož se sluší na
	starého náčelníka.
	</p>
	<p>
	Ďalší <em>odstavec.</em>
	</p>
</section>
</article>
<footer>
&copy; Whoever
</footer>
</div>
</body>
</html>

